<a href="https://colab.research.google.com/github/z8899852/DL/blob/master/0305_Python_Unit1_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
x = input('Enter your name:')
print('Hello, ' + x)

Enter your name:BO Ren
Hello, BO Ren

In [0]:
a = input("請輸入：")
a

請輸入：4050C042

'4050C042'

In [0]:
a = eval(input("請輸入："))
a

請輸入：42

42

In [0]:
b=a+1
b

43

In [0]:
a,b = eval(input("請輸入兩個數位："))
a,b

請輸入兩個數位：42,24

(42, 24)

In [0]:
a = 17 / 3
b = 17 // 3
c = 17 % 3

a,b,c

(5.666666666666667, 5, 2)

In [0]:

list1 = [21, 33, 14, 12, 32,98]

list1[1]
len(list1)
max(list1)
min(list1)
sum(list1)

210

In [0]:
-3%2

1

In [0]:
a = 7//2
b = 7.0//2
c = 7//2.0

a,b,c

(3, 3.0, 3.0)

In [0]:
5 ** 2

25

In [0]:
x = 5

print(x > 3 and x < 10)

True

In [0]:
x = 5

print(x > 3 or x < 4)

True

In [0]:
x = 5

print(not(x > 3 and x < 10))

False

In [0]:
#!/usr/bin/python3
 
a = 60            # 60 = 0011 1100 
b = 13            # 13 = 0000 1101 
c = 0

print ("0 - a =  60 = 0011 1100(二進位) ")
print ("0 - b =  13 = 0000 1101(二進位) ")
c = a & b;        # 12 = 0000 1100
print ("1 - c = a & b的值為：", c)
 
c = a | b;        # 61 = 0011 1101 
print ("2 - c = a | b的值為：", c)
 
c = a ^ b;        # 49 = 0011 0001
print ("3 - c= a ^ b 的值為：", c)
 
c = ~a;           # -61 = 1100 0011
print ("4 - c = ~a的值為：", c)
 
c = a << 2;       # 240 = 1111 0000
print ("5 - c = a << 2的值為：", c)
 
c = a >> 2;       # 15 = 0000 1111
print ("6 - c = a >> 2的值為：", c)

0 - a =  60 = 0011 1100(二進位)
0 - b =  13 = 0000 1101(二進位)
1 - c = a & b的值為： 12
2 - c = a | b的值為： 61
3 - c= a ^ b 的值為： 49
4 - c = ~a的值為： -61
5 - c = a << 2的值為： 240
6 - c = a >> 2的值為： 15

In [0]:
x = bin(36)
x

x = oct(36)
x

x = hex(255)
x

'0xff'

In [0]:
x=int('10',2)
x

x=int('10',16)
x

x=int('10',8)
x

8

In [0]:
#Round a number to only two decimals:

x = round(5.76543, 2)
print(x)

# Round to the nearest integer:

x = round(5.76543)
print(x)

5.77
6

In [0]:
a = 1.0004
int(a)

b = 0.9999
int(a)

1

In [0]:
import time

date = time.localtime()		#取得目前的日期時間
year = date[0]
month = date[1]
day = date[2]

day_month = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]

if year%400==0 or (year%4==0 and year%100!=0):	#判斷是否為閏年
  day_month[1] = 29

if month==1:
    print(day)
else:
    print(sum(day_month[:month-1])+day)

65

In [0]:
year, month, day = eval(input("請輸入年月日"))
year, month, day

請輸入年月日2020,3,5

(2020, 3, 5)

In [0]:
money = int(input("請輸入購物金額："))

if(money >= 10000):
    if(money >= 100000):
        print(money * 0.8, end=" 元\n")  #八折
    elif(money >= 50000):
        print(money * 0.85, end=" 元\n")  #八五折
    elif(money >= 30000):
        print(money * 0.9, end=" 元\n")  #九折
    else:
        print(money * 0.95, end=" 元\n")  #九五折
else:
    print(money, end=" 元\n")  #未打折

請輸入購物金額：111111
88888.8 元

In [0]:
list1=range(10)
print(list1)

print(list(list1))

list1=range(-4,5)
print(list(list1))

for x in range(19):
  print(x)

for x in range(0,19,2):
  print(x)

for x in range(20,11,-1):
  print(x)

for x in range(0,19,-1):
  print(x)

output = ''

for x in range(0,19,3):
  output += str(x)
  print(output, end=" ")

output = ''

for x in range(0,19,3):
  print(x, end=" ")

list1 = range(0,19,3)

for x in list1:
  print(x, end=" ")

range(0, 10)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[-4, -3, -2, -1, 0, 1, 2, 3, 4]
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
0
2
4
6
8
10
12
14
16
18
20
19
18
17
16
15
14
13
12
0 03 036 0369 036912 03691215 0369121518 0 3 6 9 12 15 18 0 3 6 9 12 15 18

In [0]:
for n in range(5):
  print(n)

for n in range(10):
    print(n, end='@')

    #print(n, end='%%%%')

mysum = 0

for n in range(5):
  mysum += n
  print(mysum)

mysum = 0

for n in range(5):
  mysum += n

print(mysum)

x = int(input("請輸入一個正整數:"))
mysum = 0

for n in range(x):
  mysum += n

print(mysum)

0
1
2
3
4
0@1@2@3@4@5@6@7@8@9@0
1
3
6
10
10
請輸入一個正整數:123
7503

In [0]:
numbers = [21, 4, 35, 1, 8, 7, 3, 6, 9]
my_numbers = []

for number in numbers:
  if (number % 2 != 0): 
    my_numbers.append(number)

print(my_numbers)

[21, 35, 1, 7, 3, 9]

In [0]:
#!/usr/bin/python
# -*- coding: UTF-8 -*-
 
for i in range(1,6):
    for j in range(1,5):
        for k in range(1,7):
            if( i != k ) and (i != j) and (j != k):
                print(i,j,k)

1 2 3
1 2 4
1 2 5
1 2 6
1 3 2
1 3 4
1 3 5
1 3 6
1 4 2
1 4 3
1 4 5
1 4 6
2 1 3
2 1 4
2 1 5
2 1 6
2 3 1
2 3 4
2 3 5
2 3 6
2 4 1
2 4 3
2 4 5
2 4 6
3 1 2
3 1 4
3 1 5
3 1 6
3 2 1
3 2 4
3 2 5
3 2 6
3 4 1
3 4 2
3 4 5
3 4 6
4 1 2
4 1 3
4 1 5
4 1 6
4 2 1
4 2 3
4 2 5
4 2 6
4 3 1
4 3 2
4 3 5
4 3 6
5 1 2
5 1 3
5 1 4
5 1 6
5 2 1
5 2 3
5 2 4
5 2 6
5 3 1
5 3 2
5 3 4
5 3 6
5 4 1
5 4 2
5 4 3
5 4 6

In [0]:
#!/usr/bin/python
# -*- coding: UTF-8 -*-
 
i = int(input('淨利潤:'))

arr = [1000000,600000,400000,200000,100000,0]
rat = [0.01,0.015,0.03,0.05,0.075,0.1]
r = 0

for idx in range(0,6):
    if i>arr[idx]:
        r+=(i-arr[idx])*rat[idx]
        print((i-arr[idx])*rat[idx])
        i=arr[idx]

print(r)

淨利潤:123
12.3
12.3

In [0]:
total = i = 1

n = int(input("請輸入正整數 n 的值："))

while(i<=n):
    total *= i  
    i+=1      

print("%d!=%d" % (n, total))

請輸入正整數 n 的值：5
5!=120

In [0]:

n = int(input("請輸入正整數："))

for i in range(1, n+1):
    if i % 5 ==0:
        continue
    print(i,end=" ")

請輸入正整數：2
1 2

In [0]:
def sum(i1, i2):
    result = 0
    for i in range(i1, i2):
        result += i
    return result

def main():
    print("Sum from 1 to 10 is", sum(1, 11)) 
    print("Sum from 20 to 37 is", sum(20, 38))
    print("Sum from 35 to 49 is", sum(35, 50))

main() # Call the main function

Sum from 1 to 10 is 55
Sum from 20 to 37 is 513
Sum from 35 to 49 is 630

In [0]:
#!/usr/bin/python
# -*- coding: UTF-8 -*-
 
def swap(a,b):
    a,b = b,a
    return (a,b)
 
if __name__ == '__main__':
    x = 10
    y = 20
    print('x = %d,y = %d' % (x,y))
    x,y = swap(x,y)
    print('x = %d,y = %d' % (x,y))

x = 10,y = 20
x = 20,y = 10

In [0]:
#!/usr/bin/python 
# -*- coding: UTF-8 -*- 

def sort(number1, number2):
    if number1 < number2:
        return number1, number2
    else:
        return number2, number1

num1, num2 = sort(31, 25)

print("num1 is", num1)
print("num2 is", num2)

num1 is 25
num2 is 31

In [0]:
#!/usr/bin/python 
# -*- coding: UTF-8 -*- 

def printArea(width = 11, height = 12):
    area = width * height
    print("width:", width, "\theight:", height, "\tarea:", area)

printArea() 
printArea(4, 2.5) # Positional arguments width = 4 and height = 2.5
printArea(height = 5, width = 3) # Keyword arguments width 
printArea(width = 1.2) # Default height = 2
printArea(height = 6.2) # Default widht = 1

width: 11 	height: 12 	area: 132
width: 4 	height: 2.5 	area: 10.0
width: 3 	height: 5 	area: 15
width: 1.2 	height: 12 	area: 14.399999999999999
width: 11 	height: 6.2 	area: 68.2

In [0]:
#!/usr/bin/python 
# -*- coding: UTF-8 -*- 

def hello_3(greeting='Hello', name='world'): 
    print('{}, {}!'.format(greeting, name)) 

    
hello_3() 
hello_3('Greetings') 
hello_3('Greetings', 'universe')
hello_3(name='GGGGGGoood')

Hello, world!
Greetings, world!
Greetings, universe!
Hello, GGGGGGoood!

In [0]:
params = {'name': 'Sir Simon Rattle', 'greeting': 'To my Great Conductor'}
hello_3(**params)

To my Great Conductor, Sir Simon Rattle!

In [0]:
def print_params(*params): 
    print(params) 

print_params('Testing') 

print_params(1, 2, 3) 


# return的是tuple資料型態

#可和一般參數齊用

def print_params_2(title, *params): 
    print(title) 
    print(params)

print_params_2('Params:', 1, 2, 3)
print_params_2('Nothing:')

('Testing',)
(1, 2, 3)
Params:
(1, 2, 3)
Nothing:
()

In [0]:
def print_params_3(**params): 
    print(params) 

print_params_3(x=1, y=2, z=3) 

# return的是dict(字典資料型態)

def print_params_4(x, y, z=3, *pospar, **keypar): 
    print(x, y, z) 
    print(pospar) 
    print(keypar) 

print_params_4(1, 2, 4, 5, 6, 7, foo=1, bar=2)

print_params_4(1, 2)

{'x': 1, 'y': 2, 'z': 3}
1 2 4
(5, 6, 7)
{'foo': 1, 'bar': 2}
1 2 3
()
{}

In [0]:
x = 111

def f1():
    x = 222
    print(x) 

f1()
print(x)

x = 1

def increase():
    global x
    x =  x + 1
    print(x) 

increase()
print(x)
increase()
increase()
print(x)

222
111
2
2
3
4
4
222
111
2
2
3
4
4

In [0]:
#!/usr/bin/python
# -*- coding: UTF-8 -*-

def fib(n):
    if n==1 or n==2:
        return 1
    return fib(n-1)+fib(n-2)

print(fib(10))

55

In [0]:
#!/usr/bin/python
# -*- coding: UTF-8 -*-
 
def fib(n):
    a,b = 1,1
    for i in range(n-1):
        a,b = b,a+b
    return a
 
print(fib(10))

55

In [0]:
#!/usr/bin/python
# -*- coding: UTF-8 -*-

def fib(x):	
	global numFibCalls
	numFibCalls += 1
	
	if x == 0 or x == 1:
           return 1
	else:
          return fib(x-1) + fib(x-2)

def testFib(n):
	for i in range(n+1):
          global numFibCalls
          numFibCalls = 0
          print('fib of', i, '=', fib(i))
          print('fib called', numFibCalls, 'times.')

testFib(4)

fib of 0 = 1
fib called 1 times.
fib of 1 = 1
fib called 1 times.
fib of 2 = 2
fib called 3 times.
fib of 3 = 3
fib called 5 times.
fib of 4 = 5
fib called 9 times.

In [0]:
hex(255)

hex(-42)

'-0x2a'

In [0]:
oct(8)

oct(-56)

'-0o70'

In [0]:
bin(3)

bin(-10)

'-0b1010'